// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }

img.alignleft{float:left}
img.alignright{float:right}
img.aligncenter{display:block;margin:0 auto}
