<!-- Clap Count -->
{% capture foobar %}
  {%- unless site.hydejack.hide_dates -%}
    {%- assign post_format = site.data.strings.date_formats.post | default:"%d %b %Y" -%}
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}</time>
  {%- else -%}
    {{- site.data.strings.posted | default:"Posted" -}}
  {%- endunless -%}
  {{ ' ' }}
  {%- assign category_start     = site.data.strings.category_start     | default:"in " -%}
  {%- assign category_separator = site.data.strings.category_separator | default:" / " -%}
  {%- include components/tag-list.html tags=post.categories meta=site.featured_categories start_with=category_start separator=category_separator -%}
  {{ ' ' }}
  {%- assign tag_start          = site.data.strings.tag_start          | default:"on " -%}
  {%- assign tag_separator      = site.data.strings.tag_separator      | default:", "  -%}
  {%- include components/tag-list.html tags=post.tags meta=site.featured_tags start_with=tag_start separator=tag_separator -%}
  {% if post.applause_button %}
    {{ ' ' }}
    <span class="clap-count" data-url="{{ post.url | absolute_url }}"></span>
  {% endif %}
{% endcapture %}